.loading-balls {
  display: grid;
  grid-template-areas: "stack";
}

.ball {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background-color: #c35a14;
  background-image: radial-gradient(
      circle at -1px 2px,
      transparent 4.7px,
      #000 5px,
      #000 2.5px,
      transparent 0
    ),
    radial-gradient(
      circle at 11px 7px,
      transparent 4.7px,
      #000 5px,
      transparent 0
    ),
    linear-gradient(110deg, transparent 6px, #000 6.3px, transparent 0),
    linear-gradient(18deg, transparent 5.6px, #000 6px, transparent 0);

  grid-area: stack;

  animation: spinner 1s linear infinite alternate-reverse;
}

.ball:nth-child(2) {
  animation-delay: 333ms;
}
.ball:nth-child(3) {
  animation-delay: 667ms;
}

@keyframes spinner {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
